@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /*
  ** Base Styling
  */
  body, p, h3 {
    line-height: 4vw;
    font-size: 3.5vw;
  }
  p {
    margin-bottom: 4vw;
  }
  h1 {
    line-height: 14vw;
    font-size: 14vw;
  }
  h4 {
    line-height: 6.5vw;
    font-size: 5.5vw;
    margin-bottom: 4vw;
  }
  .btn.red {
    width: 100%;
    padding: 4.5vw;
    padding-right: 12vw;
    text-align: center;
  }
  .desktop-only {
    display: none !important;
  }
  .content-with-sidebar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-content {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /*
  ** Components **
  */
  .sidebar {
    width: 0;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    z-index: 999;
    background: #fff;
  }
  .sidebar > * {
    opacity: 0;
  }
  .sidebar .sidebar-main-container {
    min-height: calc(100vh - 22vw);
  }
  .sidebar .sidebar-header {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding: 0 !important;
  }
  .sidebar .sidebar-header .header-title {
    padding-left: 12vw;
  }
  .sidebar .menu-burger {
    right: 4vw;
  }
  .sidebar .sidebar-main-content, .sidebar .sidebar-footer {
    display: none;
  }
  .sidebar .links {
    padding: 0;
  }
  .sidebar .links a {
    padding: 3.5vw 0;
  }
  .sidebar .links a::after {
    width: 3vw;
    height: 3vw;
    top: calc(50% - 1.5vw);
  }
  .sidebar .open-menu-links::before {
    width: calc(100% - 24vw);
    left: 12vw;
  }
  .sidebar .open-menu-container {
    width: 100%;
  }
  .sidebar .open-menu-container .sidebar-main-content {
    display: block;
    padding: 12vw;
  }
  .sidebar.menu-active {
    width: 100%;
  }
  .sidebar.menu-active > * {
    opacity: 100%;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .menu-burger {
    height: 22vw;
    width: 22vw;
  }
  .menu-burger .menu-img {
    width: 6vw;
    height: 6vw;
  }
  .menu-burger .menu-img img {
    width: 6vw;
  }
  .header-section {
    width: 100%;
    background: #fff;
  }
  .header-section .sidebar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 4vw 0 12vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-section {
    width: 100%;
    background: #060e31;
    color: #fff;
  }
  .footer-section .links {
    padding-top: 0.5vw;
  }
  .footer-section .links a {
    padding: 3.5vw 0;
    border-bottom: 1px solid #fff;
    position: relative;
    display: block;
  }
  .footer-section .links a::after {
    content: "";
    display: block;
    position: absolute;
    width: 3vw;
    height: 3vw;
    right: 0;
    top: calc(50% - 1.5vw);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/Chevron.svg);
  }
  .footer-section .links a:first-of-type {
    border-top: 1px solid #fff;
  }
  .footer-section .sidebar-footer {
    padding: 12vw 12vw 23vw 12vw;
    position: relative;
  }
  .footer-section .sidebar-footer .links {
    margin-bottom: 10vw;
  }
  .footer-section .sidebar-footer img {
    width: 12vw;
  }
  .footer-section .sidebar-footer .colour-strip {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .blog-tiles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .blog-tiles .blog-tile {
    width: 100%;
    margin-bottom: 10vw;
  }
  .blog-tiles .blog-excerpt {
    padding: 7.5vw 10.5vw;
  }
  .blog-tiles .blog-link {
    width: 12vw;
    height: 12vw;
    border-width: 1.5vw;
    right: 10vw;
    top: 37.5vw;
    background-size: 1.5vw;
  }
  .blog-tiles .blog-img {
    height: 45vw;
  }
  /*
  ** Sections **
  */
  .landing-section {
    overflow: hidden;
  }
  .landing-section .main-img-container {
    padding-top: 8vw;
    padding-bottom: 60vw;
  }
  .landing-section .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 12vw;
  }
  .landing-section .logo img {
    width: 10vw;
  }
  .landing-section .menu-btn-container {
    left: auto;
    right: 0;
  }
  .landing-section .main-heading {
    padding: 12vw 17vw;
  }
  .landing-section .landing-btn {
    padding: 0 17vw;
  }
  .landing-section .blog-tiles-container {
    padding: 0 12vw;
  }
  .landing-section .blog-tiles-container .blog-tiles {
    margin-top: -46vw;
    width: 100%;
  }
  .landing-section .blog-tiles-container .blog-img {
    padding: 1vw 1vw 0 1vw;
    width: calc(100% - 2vw);
    height: 44vw;
  }
  .landing-section .blog-tiles-container .text-container {
    padding-bottom: 13.5vw;
  }
  .logo-top-right {
    display: none;
  }
  .sidebar.landing-page {
    width: 0;
    z-index: 999;
  }
  .sidebar.landing-page.menu-active {
    width: 100%;
  }
  .sidebar.landing-page.menu-active .header-title {
    height: 22vw;
    left: 12vw;
  }
  .sidebar.landing-page.menu-active .sidebar-main-container {
    width: 100%;
    top: 22vw;
  }
  .header-section.landing-page {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .about-section .about-text-container {
    width: 100%;
    padding: 12vw 12vw 36vw 12vw;
  }
  .about-section .quote {
    display: none;
  }
  .about-section .round-button {
    width: 25vw;
    height: 25vw;
    bottom: 47vw;
    left: calc(50% - 24.5vw);
    padding: 12vw;
    line-height: 5.5vw;
    font-size: 4.5vw;
  }
  .about-section .round-button::after {
    width: 3vw;
    height: 3vw;
    left: calc(50% - 1.5vw);
    bottom: 9vw;
  }
  .about-section .about-img-container {
    width: 100%;
    height: 71.5vw;
  }
  .blog-section .blog-tiles-section {
    padding: 12vw 12vw 2vw 12vw;
  }
  .blog-section .blog-tiles {
    margin-bottom: 0;
  }
}