/*
*** Base Styling ***
*/
html {
	scroll-behavior: smooth;
}
body {
  margin: 0;
  color: #060e31;
  line-height: 1.2vw;
  font-size: 1vw;
  font-family: "futura-pt", sans-serif;
}

img {
  display: block;
  height: auto;
}

a, a:focus {
  outline: none !important;
  text-decoration: none;
  color: inherit;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
}

p {
  line-height: 1.2vw;
  font-size: 1vw;
  margin: 0 0 1vw 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700!important;
}

h1 {
  line-height: 7vw;
  font-size: 6.5vw;
  font-weight: 700;
}

h2 {
  line-height: 1.6vw;
  font-size: 1.3vw;
  margin-bottom: 1.5vw;
}

h3 {
  line-height: 1.2vw;
  font-size: 1vw;
}

h4 {
  line-height: 2vw;
  font-size: 1.6vw;
  margin-bottom: 1.5vw;
}

.content-with-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content {
  width: calc(100% - 22.5vw);
  margin-left: auto;
}

/*
*** End of Base Styling ***
*/
/*
*** Components ***
*/
.btn {
  display: inline-block;
  color: #fff;
  padding: 1vw 2vw;
  font-weight: 700;
}

.btn.red {
  padding-right: 4vw;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-size: cover;
  background-position: right center;
  background-image: url(./assets/Home_CTA_Button.svg);
}

.btn.red:hover {
  background-image: url(./assets/Home_CTA_Button_Rollover.svg);
}

.menu-burger {
  width: 7vw;
  height: 7vw;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.menu-burger img {
  width: 1.4vw;
}

.menu-burger.transparent {
  background: transparent;
}

.logo-top-right {
  position: absolute;
  top: 3vw;
  right: 3vw;
  height: 1vw;
  width: auto;
  z-index: 9;
}

.blog-tiles {
  width: 62.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-tiles .blog-tile {
  width: 12.5vw;
  background: #fff;
  position: relative;
}
.blog-section .blog-tiles .blog-tile { 
  width: 14vw;
}
.blog-tiles .blog-img {
  width: 100%;
  height: 10.5vw;
}
.blog-tiles .blog-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog-tiles .blog-excerpt {
  padding: 2vw;
}
.blog-tiles .blog-excerpt p {
  margin: 0;
}
.blog-tiles .blog-link {
  display: block;
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 50%;
  border: 0.3vw solid #fff;
  background: #f01e5b;
  position: absolute;
  top: 8.5vw;
  right: 2.3vw;
  background-size: 0.5vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(./assets/Chevron.svg);
}

.sidebar {
  width: 22.5vw;
  background: #060e31;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebar .sidebar-main-container {
  min-height: calc(100vh - 7vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar .links {
  padding-top: 0.5vw;
}
.sidebar .links a {
  padding: 1vw 0;
  border-bottom: 1px solid #fff;
  position: relative;
  display: block;
}
.sidebar .links a::after {
  content: "";
  display: block;
  position: absolute;
  width: 1vw;
  height: 1vw;
  right: 0;
  top: calc(50% - 0.5vw);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./assets/Chevron.svg);
}
.sidebar .links a:first-of-type {
  border-top: 1px solid #fff;
}
.sidebar .sidebar-header {
  background: #fff;
  padding-left: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #060e31;
}
.sidebar .sidebar-header .header-title {
  max-width: calc(100% - 7vw);
}
.sidebar .sidebar-main-content {
  padding: 3.5vw 2.5vw;
}
.sidebar .sidebar-footer {
  padding: 0 2.5vw 3.5vw 2.5vw;
  position: relative;
}
.sidebar .sidebar-footer .links {
  margin-bottom: 4vw;
}
.sidebar .sidebar-footer img {
  width: 2.5vw;
}
.sidebar .sidebar-footer .colour-strip {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.slider-container {
  padding-top: 1.5vw;
}
.slider-container .slider-title {
  padding-right: 2.5vw;
  position: relative;
  padding-bottom: 1vw;
  border-bottom: 1px solid #fff;
}
.slider-container .slider-title span {
  display: block;
  line-height: 1.2vw;
  font-weight: 700;
  text-transform: uppercase;
}
.slider-container .slider-title a {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(./assets/Info_Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.slider-container .slider-title a .help-text {
  position: absolute;
  width: 12.5vw;
  background: #fbf7f4;
  color: #060e31;
  z-index: -1;
  right: 3vw;
  padding: 1vw 1vw 0 1vw;
  top: -2vw;
  opacity: 0;
}
.slider-container .slider-title a .help-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 1vw;
  height: 1vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -0.5vw;
  top: 2.25vw;
  background: #fbf7f4;
}
.slider-container .slider-title a:hover .help-text {
  opacity: 1;
  z-index: 9;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.slider-container .slide-container {
  padding-top: 2vw;
  padding-right: 5vw;
  position: relative;
}
.slider-container .slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 1.5vw 0;
  height: 0.5vw;
  background: #fff;
  border-radius: 0.25vw;
}
.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background: #fff;
  border: 0.3vw solid red;
  cursor: pointer;
}
.slider-container .slider::-moz-range-thumb {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background: #fff;
  border: 0.3vw solid #f01e5b;
  cursor: pointer;
}
.slider-container .slider-value {
  position: absolute;
  top: 1.6vw;
  right: 0;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #060e31;
  font-weight: 700;
}

.slider-container .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5vw;
  justify-content: space-evenly;
}
.slider-container .switch-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background: #fff;
  color: #a0a2b0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 700;
}
.slider-container .selector button.active, .MuiTypography-root.active {
  background: #f01e5b;
  color: #060e31;
}
.slider-container .selector button:hover {
  background: #f01e5b;
  color: #060e31;
}
.slider-container .selector .seperator {
  width: 7.5vw;
  height: 0.5vw;
  background: #fff;
  border-radius: 0.25vw;
}
.MuiSwitch-root {height: 36px;}
.MuiSwitch-track {
  background: #fff;
  opacity: 1;
  
}
.Mui-checked+.MuiSwitch-track { opacity: 1!important; background: #fff!important;}
.MuiSwitch-thumb {background: #fff!important;opacity: 0.75!important;}
.Mui-checked .MuiSwitch-thumb {opacity: 1!important;}
/*
*** End of Components ***
*/
/*
*** Sections ***
*/
.landing-section {
  position: relative;
}
.landing-section .menu-btn-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.landing-section .main-img-container {
  padding-bottom: 20.5vw;
  padding-top: 2.5vw;
  position: relative;
}
.landing-section .main-img-container .vid-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.landing-section .main-img-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.landing-section .main-img-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}
.landing-section .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.landing-section .logo img {
  width: 4vw;
}
.landing-section .main-heading {
  color: #fff;
  text-align: center;
  padding-top: 6.5vw;
  padding-bottom: 2.5vw;
  position: relative;
}
.landing-section .landing-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-transform: uppercase;
}
.landing-section .blog-tiles-container {
  background: #060e31;
  background-size: cover;
  background-position: center bottom;
  background-image: url(./assets/Blue_Footer.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.landing-section .blog-tiles-container .blog-tiles {
  margin-top: -10.8vw;
}
.landing-section .blog-tiles-container .blog-img {
  padding: 0.3vw 0.3vw 0 0.3vw;
  width: calc(100% - 0.6vw);
  height: 10.2vw;
}
.landing-section .blog-tiles-container .text-container {
  width: 100%;
  padding-top: 7.5vw;
  padding-bottom: 2.5vw;
  text-align: center;
}
.landing-section .blog-tiles-container span {
  color: #fff;
}

.about-section .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.about-section .about-text-container {
  width: 28.5vw;
  background: #fbf7f4;
  padding: 7vw;
  padding-bottom: 10vw;
  background-image: url(./assets/Cream_Background.svg);
  background-size: cover;
  background-position: center bottom;
}
.about-section .quote {
  padding-top: 4vw;
  padding-right: 7vw;
  position: relative;
}
.about-section .quote::before {
  content: "";
  display: block;
  position: absolute;
  top: 1.5vw;
  left: 0;
  width: 2.5vw;
  height: 0.3vw;
  background: #f01e5b;
}
.about-section blockquote {
  margin: 0;
  line-height: 1.3vw;
  font-size: 1.1vw;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 1vw;
}
.about-section .author {
  line-height: 1.4vw;
  font-size: 1.3vw;
  font-weight: 700;
  font-style: italic;
}
.about-section .round-button {
  position: absolute;
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 50%;
  overflow: hidden;
  background: #f01e5b;
  color: #fff;
  text-align: center;
  padding: 2.5vw;
  bottom: 6.5vw;
  left: 36.75vw;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 1vw 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1vw 0px rgba(0, 0, 0, 0.5);
}
.about-section .round-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 1vw;
  height: 1vw;
  bottom: 2.5vw;
  left: calc(50% - 0.5vw);
  background-image: url(./assets/Chevron.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.about-section .about-img-container {
  width: calc(100% - 42.5vw);
  height: 100%;
}
.about-section .about-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.intro-section {
  background: #f01e5b;
  color: #fff;
  padding: 7vw 7vw 9vw 7vw;
  background-image: url(./assets/Pink_Background.svg);
  background-size: cover;
  background-position: center bottom;
}
.intro-section .icon img {
  width: 6.5vw;
  margin: 0 auto 3vw auto;
}
.intro-section .text {
  width: 52vw;
  margin: 0 auto 3.5vw auto;
  text-align: center;
}
.intro-section .text h3 {
  font-size: 2.2vw;
  line-height: 2.4vw;
  margin-bottom: 2.5vw;
}
.intro-section .text h4 {
  font-weight: 400!important;
}
.intro-section .anchor-link {
  text-align: center;
}
.intro-section .anchor-link a {
  position: relative;
  padding-bottom: 5.5vw;
  display: inline-block;
  font-weight: 700;
}
.intro-section .anchor-link a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0.8vw;
  height: 2.8vw;
  bottom: 0;
  left: calc(50% - 0.4vw);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./assets/Arrow_Icon.svg);
}

.data-table-section {
  background: #fbf7f4;
  padding: 3vw 5vw;
}
.data-table-section .data-table-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.data-table-section .data-table-headings > div {
  width: 25%;
  text-align: center;
  position: relative;
}
.data-table-section .data-table-headings > div span {
  display: block;
  padding: 2.5vw 1vw;
  font-weight: 700;
}
/* .data-table-section .data-table-headings > div::before {
  content: "";
  display: block;
  position: absolute;
  width: 1.5vw;
  height: 1px;
  background: #f01e5b;
  top: 0;
  left: calc(50% - 0.75vw);
} */
.data-table-section .data-table-headings > div:first-of-type {
  width: 25%;
  text-align: left;
}
.data-table-section .data-table-headings > div:first-of-type h3 {
  padding: 2.5vw 1vw 2.5vw 2.5vw;
}
.data-table-section .data-table-headings > div:first-of-type::before {
  display: none;
}
.data-table-section .data-table-headings h3 {
  position: relative;
}
.data-table-section .data-table-headings h3::before {
  content: "";
  display: block;
  position: absolute;
  height: calc(100% - 5vw);
  width: 0.3vw;
  background: #f01e5b;
  top: 2.5vw;
  left: 0;
}
.data-table-section .data-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 1.2vw 0;
  border-radius: 1.7vw;
  border: 1px solid;
  margin-bottom: 1vw;
}
.data-table-section .data-table-row div {
  line-height: 1vw;
}
.data-table-section .data-table-row > div {
  width: 25%;
  text-align: center;
  position: relative;
}
.data-table-section .data-table-row > div span {
  display: block;
  padding: 0 1vw;
  position: relative;
}
.data-table-section .data-table-row > div span::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 0;
  background: #a0a2b0;
}
.data-table-section .data-table-row > div:first-of-type::before {
  content: "";
  display: block;
  position: absolute;
  width: 1vw;
  height: 1vw;
  top: 0;
  left: 1.5vw;
  border-radius: 50%;
}
.data-table-section .data-table-row > div:first-of-type {
  width: 25%;
  text-align: left;
}
.data-table-section .data-table-row > div:first-of-type span {
  padding-left: 5vw;
}
.data-table-section .data-table-row > div:first-of-type span::after {
  display: none;
}
.data-table-section .data-table-row.blue {
  border-color: #0174e9;
}
.data-table-section .data-table-row.blue > div:first-of-type::before {
  background: #0174e9;
}
.data-table-section .data-table-row.red {
  border-color: #f61149;
}
.data-table-section .data-table-row.red > div:first-of-type::before {
  background: #f61149;
}
.data-table-section .data-table-row.orange {
  border-color: #ffb93f;
}
.data-table-section .data-table-row.orange > div:first-of-type::before {
  background: #ffb93f;
}
.data-table-section .data-table-row.lightgreen {
  border-color: #a0d348;
}
.data-table-section .data-table-row.lightgreen > div:first-of-type::before {
  background: #a0d348;
}
.data-table-section .data-table-row.darkgreen {
  border-color: #59a527;
}
.data-table-section .data-table-row.darkgreen > div:first-of-type::before {
  background: #59a527;
}
.data-table-section .data-table-row.yellow {
  border-color: #fed523;
}

.data-table-section .data-table-row.navy > div:first-of-type::before {
  background: #020a2d;
}
.data-table-section .data-table-row.navy {
  border-color: #020a2d;
}

.data-table-section .data-table-row.yellow > div:first-of-type::before {
  background: #fed523;
}
.data-table-section .data-table-row.grey {
  border-color: #a3a3a3;
}
.data-table-section .data-table-row.grey > div:first-of-type::before {
  background: #a3a3a3;
}
.data-table-section .data-table-row.cyan {
  border-color: #5bddd5;
}
.data-table-section .data-table-row.cyan > div:first-of-type::before {
  background: #5bddd5;
}
.data-table-section .data-table-result {
  margin-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0174e9;
  padding: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  line-height: 1.4vw;
  font-size: 1.4vw;
  border-radius: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
}
.data-table-section .data-table-result.red {  background: #f61149;}
.data-table-section .data-table-result.yellow {  background: #fed523;}
.data-table-section .data-table-result.navy  { background: #020a2d;}

.data-table-section .data-table-result img {
  width: 1vw;
  margin: 0 1.5vw;
}

.seat-tracker-section {
  background: #fbf7f4;
  padding: 3vw 0 2.5vw 0;
}
.seat-tracker-section .seat-tracker-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 5vw;
}
.seat-tracker-section .seat-tracker-heading::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 10vw);
  height: 1px;
  background: #060e31;
  left: 5vw;
  bottom: 50%;
}
.seat-tracker-section h2 {
  display: inline-block;
  padding: 0 2vw;
  background: #fbf7f4;
  position: relative;
  margin: 0;
  font-weight: 400;
}
.seat-tracker-section h2 span {
  font-weight: 900;
}
.seat-tracker-section .seat-tracker-data-table-headings {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.seat-tracker-section .seat-tracker-data-table-headings > div {
  width: 25% !important;
}
.seat-tracker-section .seat-tracker-data-table-headings > div span {
  padding-bottom: 1.5vw;
  text-align: center;
}
.seat-tracker-section .seat-tracker-data-table-row .result-bar {
  width: 50%;
}
.seat-tracker-section .seat-tracker-data-table-row .result-bar span {
  height: 0.5vw;
  border-radius: 0.25vw;
  padding: 0;
}
.seat-tracker-section .seat-tracker-data-table-row .result-bar span::after {
  display: none;
}
.seat-tracker-section .seat-tracker-data-table-row.blue .result-bar span {
  width: 65%;
  background: #0174e9;
}
.seat-tracker-section .seat-tracker-data-table-row.red .result-bar span {
  width: 85%;
  background: #f61149;
}
.seat-tracker-section .seat-tracker-data-table-row.orange .result-bar span {
  width: 20%;
  background: #ffb93f;
}
.seat-tracker-section .seat-tracker-data-table-row.cyan .result-bar span {
  width: 1%;
  background: #5bddd5;
}
.seat-tracker-section .seat-tracker-data-table-row.lightgreen .result-bar span {
  width: 3%;
  background: #a0d348;
}
.seat-tracker-section .seat-tracker-data-table-row.yellow .result-bar span {
  width: 15%;
  background: #fed523;
}
.seat-tracker-section .seat-tracker-data-table-row.darkgreen .result-bar span {
  width: 7%;
  background: #59a527;
}
.seat-tracker-section .seat-tracker-data-table-row.grey .result-bar span {
  width: 5%;
  background: #a3a3a3;
}

.blog-section {
  min-height: 100vh;
  background: #e6e7e9;
}
.blog-section .blog-tiles-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 7vw 0 2vw 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog-section .blog-tiles {
  margin-bottom: 5vw;
}

/*
*** End of Sections ***
*/

.menu-burger {
  position: relative;
}
.menu-burger .menu-img {
  position: absolute;
  width: 1.4vw;
  height: 1.4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-burger .menu-img img {
  position: absolute;
  width: 1.4vw;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background: transparent;
}
.menu-burger .menu-img .state1 {
  opacity: 100%;
}
.menu-burger .menu-img .state2 {
  opacity: 0;
}
.menu-burger .deactivate-menu {
  opacity: 0;
}

.menu-burger:hover .menu-img .state1 {
  opacity: 0;
}
.menu-burger:hover .menu-img .state2 {
  opacity: 100%;
}

.menu-active {
  -webkit-box-shadow: 0px 0px 1vw 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 1vw 0px rgba(0, 0, 0, 0.25);
  z-index: 9;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu-active .menu-burger .activate-menu {
  opacity: 0;
}
.menu-active .menu-burger .deactivate-menu {
  opacity: 1;
}

.sidebar .sidebar-header {
  padding-left: 0 !important;
  padding-right: 2.5vw;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
}
.sidebar .sidebar-main-container {
  position: relative;
}
.sidebar .open-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #060e31;
  overflow: hidden;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.sidebar .open-menu-container .links a {
  border-color: #060e31;
}
.sidebar .open-menu-container .links a:first-of-type {
  border-color: #060e31;
}
.sidebar .open-menu-container .links a::after {
  background-image: url(./assets/Chevron_Blue.svg);
}
.sidebar .open-menu-links {
  position: relative;
  opacity: 0;
}
.sidebar .open-menu-links::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 2.5vw;
  width: calc(100% - 5vw);
  height: 1px;
  background: #f01e5b;
}
.sidebar .open-menu-footer {
  opacity: 0;
}

.sidebar.menu-active .open-menu-container {
  width: 100%;
}
.sidebar.menu-active .open-menu-links, .sidebar.menu-active .open-menu-footer {
  opacity: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.sidebar.landing-page {
  width: auto;
  background: #fff;
  z-index: 1;
  overflow: visible;
}
.sidebar.landing-page .sidebar-main-container {
  top: 7vw;
  width: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.sidebar.landing-page .header-title {
  position: absolute;
  height: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 7vw;
  top: 0;
  color: #060e31;
  opacity: 0;
}

.sidebar.landing-page.menu-active .sidebar-main-container {
  width: 22.5vw;
}
.sidebar.landing-page.menu-active .header-title {
  opacity: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}



.MuiStack-root {
width:100%!important}
.MuiStack-root>:not(style)~:not(style) {margin-left: 0!important;}
.MuiSwitch-switchBase.Mui-checked {
  transform:translateX(65px)!important;
}

.MuiSwitch-input {
  left: -135%!important;
  width: 500%!important;
}
.MuiTypography-root { font-size:1vw!important}


.blog-tiles .blog-excerpt h3 {
  margin-bottom: 1vw;
}
.slider-container .slider-title a .help-text {
  top: -7vw;
}
.slider-container .slider-title a .help-text::before {
  top: 7.25vw;
}
.data-table-section .data-table-headings .help-icon {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  left: calc(50% - 0.75vw);
  top: 0;
  background-image: url(./assets/Info_Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.data-table-section .data-table-headings .help-icon .help-text {
  position: absolute;
  width: 12.5vw;
  background: #060e31;
  color: #fff;
  z-index: -1;
  right: 3vw;
  padding: 1vw 1vw 0 1vw;
  top: -2vw;
  opacity: 0;
  text-align: left;
}
.data-table-section .data-table-headings .help-icon .help-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 1vw;
  height: 1vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -0.5vw;
  top: 2.25vw;
  background: #060e31;
}
.data-table-section .data-table-headings .help-icon:hover .help-text {
  opacity: 1;
  z-index: 9;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.seat-tracker-section .seat-tracker-data-table-headings {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.seat-tracker-section .seat-tracker-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vw;
  border-radius: 1.75vw;
  margin-bottom: 2vw;
  overflow: hidden;
}
.seat-tracker-section .seat-tracker-results .results {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.seat-tracker-section .seat-tracker-results .results span {
  background: #fff;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #060e31;
  position: relative;
  z-index: 9;
}
.seat-tracker-section .seat-tracker-results .red {
  background: #f61149;
  width: 60%;
}
.seat-tracker-section .seat-tracker-results .blue {
  background: #0174e9;
  width: 30%;
}
.seat-tracker-section .seat-tracker-results .orange {
  background: #ffb93f;
  width: 5%;
}
.seat-tracker-section .seat-tracker-results .cyan {
  width: 2%;
  background: #5bddd5;
}
.seat-tracker-section .seat-tracker-results .lightgreen {
  width: 1%;
  background: #a0d348;
}
.seat-tracker-section .seat-tracker-results .yellow {
  width: 1%;
  background: #fed523;
}
.seat-tracker-section .seat-tracker-results .darkgreen {
  width: 0.5%;
  background: #59a527;
}
.seat-tracker-section .seat-tracker-results .grey {
  width: 0.5%;
  background: #a3a3a3;
}
.seat-tracker-section .seat-tracker-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.seat-tracker-section .seat-tracker-data-container .col {
  width: 32vw;
}
.seat-tracker-section .seat-tracker-data-table-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}
.seat-tracker-section .seat-tracker-data-table-row > div {
  width: 10vw;
}
.seat-tracker-section .seat-tracker-data-table-row > div:first-of-type {
  width: calc(100% - 10vw);
}


@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /*
  ** Base Styling
  */
  body, p, h3 {
    line-height: 4vw;
    font-size: 3.5vw;
  }
  p {
    margin-bottom: 4vw;
  }
  h1 {
    line-height: 14vw;
    font-size: 14vw;
  }
  h4 {
    line-height: 6.5vw;
    font-size: 5.5vw;
    margin-bottom: 4vw;
  }
  .btn.red {
    width: 100%;
    padding: 4.5vw;
    padding-right: 12vw;
    text-align: center;
  }
  .desktop-only {
    display: none !important;
  }
  .content-with-sidebar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-content {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /*
  ** Components **
  */
  .sidebar {
    width: 0;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    z-index: 999;
    background: #fff;
  }
  .sidebar > * {
    opacity: 0;
  }
  .sidebar .sidebar-main-container {
    min-height: calc(100vh - 22vw);
  }
  .sidebar .sidebar-header {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    padding: 0 !important;
  }
  .sidebar .sidebar-header .header-title {
    padding-left: 12vw;
  }
  .sidebar .menu-burger {
    right: 4vw;
  }
  .sidebar .sidebar-main-content, .sidebar .sidebar-footer {
    display: none;
  }
  .sidebar .links {
    padding: 0;
  }
  .sidebar .links a {
    padding: 3.5vw 0;
  }
  .sidebar .links a::after {
    width: 3vw;
    height: 3vw;
    top: calc(50% - 1.5vw);
  }
  .sidebar .open-menu-links::before {
    width: calc(100% - 24vw);
    left: 12vw;
  }
  .sidebar .open-menu-container {
    width: 100%;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: calc(100vh - 22vw);
  }
  .sidebar .open-menu-container .sidebar-main-content {
    display: block;
    padding: 12vw;
  }
  .sidebar .open-menu-container .sidebar-footer {
    position: static;
    display: block;
    padding: 0 12vw 23vw 12vw;
  }
  .sidebar .open-menu-container .sidebar-footer .links {
    margin-bottom: 10vw;
  }
  .sidebar .open-menu-container .sidebar-footer img {
    width: 12vw;
  }
  .sidebar .open-menu-container .sidebar-footer .colour-strip {
    width: 100%;
  }
  .sidebar.menu-active {
    width: 100%;
  }
  .sidebar.menu-active > * {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .menu-burger {
    height: 22vw;
    width: 22vw;
  }
  .menu-burger .menu-img {
    width: 6vw;
    height: 6vw;
  }
  .menu-burger .menu-img img {
    width: 6vw;
  }
  .header-section {
    width: 100%;
    background: #fff;
  }
  .header-section .sidebar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 4vw 0 12vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-section {
    width: 100%;
    background: #060e31;
    color: #fff;
  }
  .footer-section .links {
    padding-top: 0.5vw;
  }
  .footer-section .links a {
    padding: 3.5vw 0;
    border-bottom: 1px solid #fff;
    position: relative;
    display: block;
  }
  .footer-section .links a::after {
    content: "";
    display: block;
    position: absolute;
    width: 3vw;
    height: 3vw;
    right: 0;
    top: calc(50% - 1.5vw);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/Chevron.svg);
  }
  .footer-section .links a:first-of-type {
    border-top: 1px solid #fff;
  }
  .footer-section .sidebar-footer {
    padding: 12vw 12vw 23vw 12vw;
    position: relative;
  }
  .footer-section .sidebar-footer .links {
    margin-bottom: 10vw;
  }
  .footer-section .sidebar-footer img {
    width: 12vw;
  }
  .footer-section .sidebar-footer .colour-strip {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .blog-tiles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .blog-tiles .blog-tile {
    width: 100%;
    margin-bottom: 10vw;
  }
  .blog-tiles .blog-excerpt {
    padding: 7.5vw 10.5vw;
  }
  .blog-tiles .blog-excerpt h3 {
    margin-bottom: 3vw;
  }
  .blog-tiles .blog-link {
    width: 12vw;
    height: 12vw;
    border-width: 1.5vw;
    right: 10vw;
    top: 37.5vw;
    background-size: 1.5vw;
  }
  .blog-tiles .blog-img {
    height: 45vw;
  }
  /*
  ** Sections **
  */
  .landing-section {
    overflow: hidden;
  }
  .landing-section .main-img-container {
    padding-top: 8vw;
    padding-bottom: 60vw;
  }
  .landing-section .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 12vw;
  }
  .landing-section .logo img {
    width: 10vw;
  }
  .landing-section .menu-btn-container {
    left: auto;
    right: 0;
  }
  .landing-section .main-heading {
    padding: 12vw 17vw;
  }
  .landing-section .landing-btn {
    padding: 0 17vw;
  }
  .landing-section .blog-tiles-container {
    padding: 0 12vw;
  }
  .landing-section .blog-tiles-container .blog-tiles {
    margin-top: -46vw;
    width: 100%;
  }
  .landing-section .blog-tiles-container .blog-img {
    padding: 1vw 1vw 0 1vw;
    width: calc(100% - 2vw);
    height: 44vw;
  }
  .landing-section .blog-tiles-container .text-container {
    padding-bottom: 13.5vw;
  }
  .logo-top-right {
    display: none;
  }
  .sidebar.landing-page {
    width: 0;
    z-index: 999;
  }
  .sidebar.landing-page.menu-active {
    width: 100%;
  }
  .sidebar.landing-page.menu-active .header-title {
    height: 22vw;
    left: 12vw;
  }
  .sidebar.landing-page.menu-active .sidebar-main-container {
    width: 100%;
    top: 22vw;
  }
  .header-section.landing-page {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .about-section .about-text-container {
    width: 100%;
    padding: 12vw 12vw 36vw 12vw;
  }
  .about-section .quote {
    padding-right: 0;
    padding-top: 8vw;
  }
  .about-section .quote::before {
    width: 8vw;
    height: 0.5vw;
  }
  .about-section blockquote {
    font-size: 3.5vw;
    line-height: 4vw;
    margin-bottom: 4vw;
  }
  .about-section .author {
    font-size: 3.5vw;
    line-height: 4vw;
  }
  .about-section .round-button {
    width: 25vw;
    height: 25vw;
    bottom: 47vw;
    left: calc(50% - 24.5vw);
    padding: 12vw;
    line-height: 5.5vw;
    font-size: 4.5vw;
  }
  .about-section .round-button::after {
    width: 3vw;
    height: 3vw;
    left: calc(50% - 1.5vw);
    bottom: 9vw;
  }
  .about-section .about-img-container {
    width: 100%;
    height: 71.5vw;
  }
  .blog-section .blog-tiles-section {
    padding: 12vw 12vw 2vw 12vw;
  }
  .blog-section .blog-tiles {
    margin-bottom: 0;
  }
  .intro-section {
    padding: 16.5vw 12vw 12vw 12vw;
  }
  .intro-section .icon img {
    width: 21vw;
    margin-bottom: 9vw;
  }
  .intro-section .text {
    width: 100%;
    margin-bottom: 8vw;
  }
  .intro-section .text h3 {
    line-height: 10.5vw;
    font-size: 10vw;
    margin-bottom: 10vw;
  }
  .intro-section .anchor-link a {
    padding-bottom: 21vw;
  }
  .intro-section .anchor-link a::after {
    width: 3.4vw;
    height: 12vw;
    left: calc(50% - 1.7vw);
  }
  .data-table-section {
    padding: 12vw;
  }
  .data-table-section .data-table-headings {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .data-table-section .data-table-headings > div::before {
    width: 7vw;
    left: calc(50% - 3.5vw);
    height: 0.5vw;
  }
  .data-table-section .data-table-headings > div span {
    padding-top: 7.5vw;
    padding-bottom: 7vw;
  }
  .data-table-section .data-table-headings .data-table-heading-col {
    width: 33%;
  }
  .data-table-section .data-table-headings .main-heading {
    width: 100% !important;
  }
  .data-table-section .data-table-headings .main-heading h3 {
    padding: 0 0 0 10vw !important;
  }
  .data-table-section .data-table-headings .main-heading h3::before {
    width: 1vw;
    top: 0;
    height: 100%;
  }
  .data-table-section .data-table-headings .party-colour-code {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 9vw;
    padding-bottom: 10vw;
    text-align: left;
    font-weight: 700;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .data-table-section .data-table-headings .party-colour-code .col div {
    margin-bottom: 2vw;
    padding-left: 9vw;
    position: relative;
  }
  .data-table-section .data-table-headings .party-colour-code .col div::before {
    content: "";
    display: block;
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    left: 0;
    top: calc(50% - 1.5vw);
  }
  .data-table-section .data-table-headings .party-colour-code .col .blue::before {
    background: #0174e9;
  }
  .data-table-section .data-table-headings .party-colour-code .col .red::before {
    background: #f61149;
  }
  .data-table-section .data-table-headings .party-colour-code .col .orange::before {
    background: #ffb93f;
  }
  .data-table-section .data-table-headings .party-colour-code .col .lightgreen::before {
    background: #a0d348;
  }
  .data-table-section .data-table-headings .party-colour-code .col .darkgreen::before {
    background: #59a527;
  }
  .data-table-section .data-table-headings .party-colour-code .col .yellow::before {
    background: #fed523;
  }
  .data-table-section .data-table-headings .party-colour-code .col .grey::before {
    background: #a3a3a3;
  }
  .data-table-section .data-table-headings .party-colour-code .col .cyan::before {
    background: #5bddd5;
  }
  .data-table-section .data-table-headings .party-colour-code::before {
    display: none;
  }
  .data-table-section .data-table-headings .help-icon {
    width: 5vw;
    height: 5vw;
    position: static;
    margin: auto;
  }
  .data-table-section .data-table-headings .help-icon .help-text {
    width: 67.5vw;
    padding: 3vw 3vw 0 3vw;
    left: 0;
    top: 10vw;
  }
  .data-table-section .data-table-headings .help-icon .help-text::before {
    width: 3vw;
    height: 3vw;
    left: 10.5vw;
    top: -1.5vw;
  }
  .data-table-section .data-table-headings > div:nth-of-type(4) .help-icon .help-text {
    left: -24.5vw;
  }
  .data-table-section .data-table-headings > div:nth-of-type(4) .help-icon .help-text::before {
    left: 35vw;
  }
  .data-table-section .data-table-headings > div:nth-of-type(5) .help-icon .help-text {
    left: auto;
    right: 0;
  }
  .data-table-section .data-table-headings > div:nth-of-type(5) .help-icon .help-text::before {
    left: auto;
    right: 10.5vw;
  }
  .data-table-section .data-table-row {
    padding: 5vw 0;
    border-radius: 8vw;
    margin-bottom: 3vw;
  }
  .data-table-section .data-table-row > div:first-of-type {
    display: none !important;
  }
  .data-table-section .data-table-row > div {
    width: 33.333%;
  }
  .data-table-section .data-table-row > div span {
    line-height: 4vw;
    padding: 0 3vw;
  }
  .data-table-section .data-table-row > div:nth-of-type(2) span::after {
    display: none;
  }
  .data-table-section .data-table-result {
    margin-top: 5.5vw;
    border: 1vw solid #fff;
    font-size: 6vw;
    line-height: 6.5vw;
    padding: 8vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 8vw;
  }
  .data-table-section .data-table-result span {
    display: block;
    width: 100%;
    text-align: center;
  }
  .data-table-section .data-table-result img {
    width: 4.5vw;
    margin: 5vw 0;
  }
  .seat-tracker-section {
    padding-top: 0;
  }
  .mobile-footer-sliders {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #060e31;
    z-index: 9;
  }
  .mobile-footer-sliders .footer-sliders-btn {
    background: #060e31;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7.5vw 12vw;
    color: #fff;
    font-weight: 700;
    font-size: 3.5vw;
    cursor: pointer;
  }
  .mobile-footer-sliders .settings-icon {
    width: 9vw;
  }
  .mobile-footer-sliders .plus-minus {
    width: 4vw;
  }
  .mobile-footer-sliders .minus {
    display: none;
  }
  .mobile-footer-sliders .sidebar-main-content {
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
  }
  .mobile-footer-sliders .sidebar-main-content .sliders {
    opacity: 0;
  }
  .mobile-footer-sliders.active .minus {
    display: block;
  }
  .mobile-footer-sliders.active .plus {
    display: none;
  }
  .mobile-footer-sliders.active .sidebar-main-content {
    max-height: calc(100vh - 22vw);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .mobile-footer-sliders.active .sidebar-main-content .sliders {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    padding: 0 12vw 12vw 12vw;
    color: #fff;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container {
    padding-top: 11.5vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slider-title {
    padding-bottom: 5.5vw;
    padding-right: 10vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slider-title span {
    line-height: 4vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slider-title a {
    width: 6.5vw;
    height: 6.5vw;
    top: -1.25vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slider-title a .help-text {
    right: 11vw;
    width: 56vw;
    padding: 3vw 3vw 0 3vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slider-title a .help-text::before {
    width: 3vw;
    height: 3vw;
    right: -1.5vw;
    top: 8.75vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slide-container {
    padding-right: 22vw;
    padding-top: 11.5vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slider {
    height: 2.5vw;
    border-radius: 1.25vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slider::-webkit-slider-thumb {
    width: 5.5vw;
    height: 5.5vw;
    border: 1vw solid red;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slider::-moz-range-thumb {
    width: 5.5vw;
    height: 5.5vw;
    border: 1vw solid #f01e5b;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .slider-value {
    width: 15vw;
    height: 15vw;
    top: 7vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .selector {
    padding-top: 7.5vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .selector button {
    width: 15vw;
    height: 15vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content .slider-container .selector .seperator {
    width: 33vw;
    height: 2.5vw;
    border-radius: 1.25vw;
  }
  .mobile-footer-sliders.active .sidebar-main-content::-webkit-scrollbar {
    display: none;
  }
  .predictor-section .footer-section {
    margin-bottom: 22vw;
  }
  .seat-tracker-section .seat-tracker-heading {
    padding: 0 12vw;
  }
  .seat-tracker-section .seat-tracker-heading::before {
    left: 12vw;
    width: calc(100% - 24vw);
  }
  .seat-tracker-section h2 {
    font-size: 3.5vw;
    line-height: 4vw;
  }
  .seat-tracker-section .seat-tracker-data-table-headings > div {
    width: 100% !important;
    margin-bottom: 6vw;
  }
  .seat-tracker-section .seat-tracker-data-table-headings > div span {
    padding: 0;
  }
  .seat-tracker-section .seat-tracker-results {
    height: 22vw;
    border-radius: 8vw;
    margin-bottom: 7.5vw;
  }
  .seat-tracker-section .seat-tracker-results .results span {
    width: 8vw;
    height: 8vw;
  }
  .seat-tracker-section .seat-tracker-data-table-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider-container .MuiSlider-root {
  padding: 0;
  margin: 1.5vw 0;
  display: block;
  height: 0.5vw;
}
.slider-container .slider-value {
  top: 2vw;
}
.slider-container .selector .MuiSwitch-root {
  height: 3.5vw !important;
  padding: 1.5vw !important;
}
.slider-container .selector .MuiSwitch-root .MuiSwitch-switchBase {
  padding: 1vw;
  height: 3.5vw;
}
.slider-container .selector .MuiSwitch-root .MuiSwitch-switchBase .PrivateSwitchBase-input {
  width: 10vw !important;
  left: 0 !important;
}
.slider-container .selector .MuiSwitch-root .MuiSwitch-switchBase.Mui-checked {
  -webkit-transform: translateX(7vw) !important;
          transform: translateX(7vw) !important;
}
.slider-container .selector .MuiSwitch-root .MuiSwitch-switchBase.Mui-checked .PrivateSwitchBase-input {
  left: auto !important;
  right: 0 !important;
}
.slider-container .selector .MuiSwitch-root .MuiSwitch-track {
  background: #666;
}
.slider-container .selector .MuiSwitch-thumb {
  width: 1.5vw;
  height: 1.5vw;
}

@media (max-width: 767px) {
  .slider-container .MuiSlider-root {
    padding: 0;
    height: 2.5vw;
    border-radius: 1.25vw;
    margin: 1.5vw 0;
  }
  .slider-container .MuiSlider-thumb {
    width: 5.5vw !important;
    height: 5.5vw !important;
    border-width: 1vw !important;
  }
  .slider-container .selector .MuiStack-root {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .slider-container .selector .MuiStack-root .MuiTypography-root {
    width: 15vw !important;
    height: 15vw !important;
    font-size: 3.5vw !important;
  }
  .slider-container .selector .MuiStack-root .MuiSwitch-root {
    width: 30vw !important;
    padding: 6.25vw 0 !important;
    height: 15vw !important;
  }
  .slider-container .selector .MuiStack-root .MuiSwitch-root .MuiButtonBase-root {
    height: 5.5vw !important;
    width: 5.5vw !important;
    top: 4.75vw !important;
    padding: 0 !important;
  }
  .slider-container .selector .MuiStack-root .MuiSwitch-root .MuiButtonBase-root .MuiSwitch-thumb {
    width: 5.5vw !important;
    height: 5.5vw !important;
  }
  .slider-container .selector .MuiStack-root .MuiSwitch-root .MuiButtonBase-root .PrivateSwitchBase-input {
    width: 31vw !important;
    left: 0 !important;
  }
  .slider-container .selector .MuiStack-root .MuiSwitch-root .MuiButtonBase-root.Mui-checked {
    -webkit-transform: translateX(24.5vw) !important;
            transform: translateX(24.5vw) !important;
  }
  .slider-container .selector .MuiStack-root .MuiSwitch-root .MuiButtonBase-root.Mui-checked .PrivateSwitchBase-input {
    left: auto !important;
    right: 0 !important;
  }
  .slider-container .selector .MuiStack-root .MuiSwitch-root .MuiSwitch-track {
    background: #666;
  }
}
@media (max-width: 767px) {
  .mobile-footer-sliders .plus-minus {
    width: 12vw;
    text-align: right;
  }
}
.about-section .round-button {
  height: 5.5vw;
  padding: 3.5vw 2.5vw 2.5vw 2.5vw;
}

@media (max-width: 767px) {
  .about-section .round-button {
    height: 22vw;
    padding: 15vw 12vw 12vw 12vw;
  }
}
.data-table-section .data-table-headings {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-container .selector .MuiSwitch-root {
  overflow: visible;
}
.slider-container .selector .MuiSwitch-root .MuiSwitch-switchBase .PrivateSwitchBase-input {
  width: 17.5vw !important;
  left: -3.5vw !important;
}
.slider-container .selector .MuiSwitch-root .MuiSwitch-switchBase.Mui-checked .PrivateSwitchBase-input {
  right: -3.5vw !important;
}

@media (max-width: 767px) {
  .slider-container .selector .MuiStack-root .MuiSwitch-root {
    overflow: visible;
  }
  .slider-container .selector .MuiStack-root .MuiSwitch-root .MuiButtonBase-root .PrivateSwitchBase-input {
    width: 74vw !important;
    left: -22vw !important;
    height: 15vw !important;
    top: -4.5vw !important;
  }
  .slider-container .selector .MuiStack-root .MuiSwitch-root .MuiButtonBase-root.Mui-checked .PrivateSwitchBase-input {
    right: -22vw !important;
  }
}